<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>タイトル</title>
</head>
<body>
	<h1>栄養データベース</h1>
	<div>
		<form action="/search" method="post">
			<input type="text" name="name">
		</form>

	</div><%# 検索窓 %>
</body>
</html>
